{% extends "base.html" %}

{% block header %}
<title>DW Graph</title>
<style type="text/css">
.jumbotron.dw {
    background: url(static/img/img_3217.jpg);
}
.jumbotron.dw h1, .jumbotron.dw p {
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
}
.jumbotron .yui3-aclist-list {
    font-size: 14px;
}
.jumbotron .yui3-aclist-list li {
    line-height: 20px;
}
</style>
{% endblock header %}

{% block content %}
    <div class="dw jumbotron">
        <h1>How did you do on DW?</h1>
        <form class="form-inline">
        <p>Enter a boat number or search for crews by surname to get started</p>
        <div class="form-group">
        <input type="text" name="bn" value="" class="form-control" placeholder="Search crews" />
        </div>
        <div class="form-group">
        <button type="button" class="btn btn-primary btn-large" id="submit-btn">Show Graph &raquo;</button>
        </div>
        </form>
      </div>
      <p>The DW Graph gives an indication of overnight and four-day crews' relative performances over the course of the <a href="http://www.dwrace.org.uk/">Devizes to Westminster Race</a>, using a graphical display. The data displayed is calculated from the official <a href="{{checkpoint_times_url}}">checkpoint times</a> available from the race site. We value feedback on the site but please raise any issues found with the data itself with the race organisers.</p>
    <p>View results for <a href="graph#bn={{ top_crews|join:","|urlencode }}">top crews</a> (roughly sub-20 hours)</p>
<script>
function formatLabel(result) {
    var crew = result.crew, names = crew[0].firstname + " " + crew[0].surname;
    if (crew.length > 1) {
        names += " & " + crew[1].firstname + " " + crew[1].surname;
    }
    return result.boat_number + " " + names;
}
// Create a YUI sandbox on your page.
YUI().use('node', 'event', 'event-key', 'autocomplete', 'highlight', function (Y) {
    function loadGraph(e) {
        var bn = e.result ? e.result.text : Y.one("input").get("value");
        if (bn) {
            window.location = window.location.protocol + "//" + window.location.host + "/graph#bn=" + bn;
        }
    }
    function formatResults(query, results) {
        return Y.Array.map(results, function (result) {
            return '<div>' + Y.Highlight.all(formatLabel(result.raw), query) + '</div>';
        });
    }
    Y.one("input").focus();
    Y.one("input").on("key", function(e) {
        e.preventDefault();
        e.stopPropagation();
        loadGraph(e);
    }, 'enter');
    Y.one("#submit-btn").on("click", function(e) {
        e.preventDefault();
        e.stopPropagation();
        loadGraph(e);
    });
    Y.one('input').plug(Y.Plugin.AutoComplete, {
        source: '/crewdata?q={query}&callback={callback}&y={{ current_year }}',
        resultListLocator: 'results',
        resultTextLocator: function(crew) {
            return crew.boat_number;
        },
        resultFormatter: formatResults
    });
    Y.one('input').ac.on('select', loadGraph);
    Y.one('body').addClass('yui3-skin-sam');
});
</script>
{% endblock content %}
