{% extends "base.html" %}

{% block header %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
// Load the Visualization API and the piechart package.
google.load('visualization', '1.0', {'packages':['corechart', 'table']});
</script>
<style type="text/css">
#graph svg {
    border: 1px solid #ccc;
}
.social  {
    margin-bottom: 1em;
}
h1.graph-hdr {
    margin-bottom: 0.5em;
}
#graph {
    margin-bottom: 1em;
}
</style>
<title>DW Graph</title>
{% endblock header %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <h1 class="graph-hdr"></h1>
<div class="social pull-right">
<div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
            <form class="add-form form-inline">
              <label for="input-bn">Compare with:</label>
              <input id="input-bn" class="input-small" type="text" placeholder="Boat Number">
              <button id="add-form-btn" type="submit" class="btn">Add</button>
            </form>
<div class="messages"></div>
    <div id="graph"></div>
    <div id="table"></div>
    <p><em>The graph shows the speed between each race checkpoint and the previous one. Speeds shown are calculated based on the checkpoint times published on the results web page and the distances between checkpoints.</em></p>
<script>
var checkpoints = [
{id: 'pewsey', label: 'Pewsey', type: 'number'},
{id: 'hford', label: 'Hungerford', type: 'number'},
{id: 'newbury', label: 'Newbury', type: 'number'},
{id: 'aldermaston', label: 'Aldermaston', type: 'number'},
{id: 'reading', label: 'Reading', type: 'number'},
{id: 'marsh', label: 'Marsh', type: 'number'},
{id: 'marlow', label: 'Marlow', type: 'number'},
{id: 'bray', label: 'Bray', type: 'number'},
{id: 'windsor', label: 'Windsor', type: 'number'},
{id: 'shepperton', label: 'Shepperton', type: 'number'},
{id: 'teddington', label: 'Teddington', type: 'number'},
{id: 'westminster', label: 'Westminster', type: 'number'}
],
    cols = [{id: 'Location', type: 'string'}], rows = [];

function getBoatSeries() {
    var boats = [];
    for (var i=1; i<cols.length; i++) {
        boats.push(cols[i].id);
    }
    return boats;
}

function removeBoat(n) {
    var boatCol = boatColumn(n);
    while (boatCol > -1) {
        /*cols = cols.splice(boatCol+1, 1);
        for (var i=0; i<rows.length; i++) {
            rows[i].c = rows[i].c.splice(boatCol+1, 1);
        }*/
        chartData.removeColumn(boatCol+1);
        boatCol = boatColumn(n);
    }
} 

function boatColumn(n) {
    for (var i=1; i<cols.length; i++) {
        if (cols[i].id == n) {
            return i-1;
        }
    }
    return -1;
}

function isBoatAdded(n) {
    return boatColumn(n) > -1;
}

function formatLabel(result) {
    var crew = result.crew, names = crew[0].firstname + " " + crew[0].surname;
    if (crew.length > 1) {
        names += " & " + crew[1].firstname + " " + crew[1].surname;
    }
    return result.boat_number + " " + names;
}

function redrawChart() {
    chart.draw(chartData, chartOptions);
}

                    // Set chart options
                    var chartOptions = {
                        'width': 1168, // container is 1170 but the graph has 1px border each side
                        'height': 450,
                        'titlePosition': 'none',
                        legend: {
                            textStyle: {color: 'black', fontName: 'Arial', fontSize: 12}
                        },
                        hAxis: {
                            title: '',
                            textStyle: {color: 'black', fontName: 'Arial', fontSize: 12},
                            slantedText: false
                        },
                        vAxis: {
                            title: 'Speed (mph)',
                            textStyle: {color: 'black', fontName: 'Arial', fontSize: 12}
                        }
                    };
                    var chart = new google.visualization.LineChart(document.getElementById('graph'));
                    var chartData = new google.visualization.DataTable({cols: cols, rows: rows});
                    for (var j=0; j<checkpoints.length; j++) {
                        var  row = [{v: checkpoints[j].label }];
                        rows.push({c: row})
                    }

    YUI().use('node', 'event', 'event-key', 'datasource', 'history', function (Y) {

        var history = new Y.HistoryHash({
            initialState: {
                bn: ""
            }
        });

        var locationsDataSource = new Y.DataSource.Get({
            source: "/data"
        });

        function addSeries(num) {
          var allAdded = true, numbers = num.split(',');
          Y.Array.each((num||'').split(','), function(item, index, arr) {
            if (!isBoatAdded(item)) {
                allAdded = false;
            }
         });
         if (allAdded) {
            return;
         }
         locationsDataSource.sendRequest({
            request: "?bn=" + encodeURIComponent(num),
            on: {
                success: function(e) {
                    var results = e.data.results, messages = "", hdr = "Results for ";
                    Y.log("API returned " + results.length + " results");
                    for (var i=0; i<results.length; i++) {
                        if (!isBoatAdded(results[i].boat_number)) {
                            cols.push({ id: results[i].boat_number, label: formatLabel(results[i]), type: 'number' });
                    for (var j=0; j<checkpoints.length; j++) {
                        var  row = rows[j];
                                var locations = results[i].locations.slice(1), // skip devizes
                                loc = locations[j];
                                row.c.push({v: !loc.retired ? Math.round(loc.speed*100)/100 : null});
                    }
                    }
                        hdr += (i > 0 ? ', ' : '') + results[i].crew[0].surname + " & " + results[i].crew[1].surname;
                    }
                    Y.log(cols);
                    Y.log(rows);
    
                    if (cols.length > 1) {
                        chart.draw(chartData, chartOptions);
                    }

                    //var table = new google.visualization.Table(document.getElementById('table'));
                    //table.draw(chartData, {showRowNumber: true});
                    
                    var newBn = ''; // Remove boats which were not returned by the XHR
                    Y.Array.each(numbers, function(item, index, arr) {
                        if (isBoatAdded(item)) {
                            newBn += isBoatAdded(item) ? (',' + item) : '';
                        } else {
                            messages += '<p class="text-error">Boat number ' + item + ' could not be found</p>';
                        }
                    });
                    Y.one(".messages").setHTML(messages);
                    if (newBn.slice(1) != history.get('bn')) {
                        history.replaceValue('bn', newBn.slice(1));
                    }
                    Y.one("h1").setHTML(hdr);
                    document.title = "DW Graph - " + hdr;
                },
                failure: function(e) {
                    alert(e.error.message);
                }
            }
        });
    }
        Y.on('history:change', function (e) {
            var selected = (history.get('bn') || '').split(','), displayed = getBoatSeries();
            for (var i=0; i<displayed.length; i++) {
               var isSelected = Y.Array.indexOf(selected, displayed[i]) > -1;
               if (!isSelected) {
                   Y.log("Removing " + displayed[i]);
                   removeBoat(displayed[i]);
               }
            }
            addSeries(history.get('bn'));
        });
        addSeries(history.get('bn'));

        function onAddClick(e) {
            e.preventDefault();
            e.stopPropagation();
            var bn = Y.one("#input-bn").get("value");
            if (bn && !isBoatAdded(parseInt(bn, 10))) {
                var oldVal = history.get('bn');
                history.addValue('bn', oldVal + (oldVal != '' ? ',' : '') + bn);
            }
            Y.one("#input-bn").set("value", "");
        }

        Y.one("#add-form-btn").on("click", onAddClick);
        Y.one("#input-bn").on("key", onAddClick, "enter");
        Y.one("#input-bn").focus();
    });
</script>
{% endblock content %}
