{% extends "base.html" %}

{% block header %}
<title>The DW Graph</title>
{% endblock header %}

{% block content %}
    <div class="hero-unit">
        <h1>How did you do on DW?</h1>
        <form>
        <p>Enter a boat number to get started</p>
        <input type="text" name="bn" value="" placeholder="Boat Number" /><br />
        <button type="button" class="btn btn-primary btn-large" id="submit-btn">Show Graph &raquo;</button>
        </form>
      </div>
<script>
// Create a YUI sandbox on your page.
YUI().use('node', 'event', 'event-key', function (Y) {
    function loadGraph(e) {
        var bn = Y.one("input").get("value");
        if (bn) {
            window.location = window.location.protocol + "//" + window.location.host + "/graph#bn=" + bn;
        }
    }
    Y.one("input").focus();
    Y.one("input").on("key", function(e) {
        e.preventDefault();
        e.stopPropagation();
        loadGraph(e);
    }, 'enter');
    Y.one("#submit-btn").on("click", function(e) {
        e.preventDefault();
        e.stopPropagation();
        loadGraph(e);
    });
});
</script>
{% endblock content %}
