<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{STATIC_URL}}bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <script src="{{STATIC_URL}}yui3/build/yui/yui-min.js"></script>
        {% block header %}
            
        {% endblock header %}
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">DW Graph</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if year %}<li {% if current_year == year %} class="active"{% endif %}><a href="/{{year}}">{{year}}</a></li>{% endif %}
        {% if last_year %}<li {% if current_year == last_year %} class="active"{% endif %}><a href="/{{last_year}}">{{last_year}}</a></li>{% endif %}
        {% if archives %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Archive <span class="caret"></span></a>
          <ul class="dropdown-menu">
          {% for y in archives reversed %}
            <li><a href="/{{y}}">{{y}}</a></li>
          {% endfor %}
          </ul>
        </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container- -->
  </nav>
        <div class="container">
        <section>
            <div class="content">
                {% block content %}

                {% endblock content %}
            </div>
        </section>
        <hr />
        <footer>
            <p class="text-muted">DW Graph by Will Abson</p>
        </footer>
        </div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-340797-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      <script src="{{STATIC_URL}}jquery/dist/jquery.min.js"></script>
      <script src="{{STATIC_URL}}bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>


